body {
    background-color: #ffffff;
    min-height:100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width:80%;
    height:100%;
    float: left;

}

li {
    height:100%;
    float: left;
  
    
}

li a {
    position: relative;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: larger;
    font-weight:bolder;
    height:100%;
    font-family: "comic sans ms";
    
}

.active {
    background-color:#fc5185;
    height:100%;
}

li a:hover:not(.active){
    background-color:#c79cc8;
    height:100%;
}

div.homePageMain{
    position:relative;
    height:100%;
    width: 66%;
    border: 2px solid #dddddd;
    background-color: #dddddd;
    border-radius:10px;
    float:left;
}

div.listingPageMain{

}

div.loginPageMain{
    margin:auto;
    height:100%;
    width:66%;
    border: 2px solid #dddddd;
    background-color: #dddddd;
    border-radius: 10px;
    text-align:center;
}

div.menuBar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
    border-radius:10px;
    height:100%;
}

div.menuBarLogo{
    min-width:fit-content;
    max-width:20%;
    height:100%;
    border: 2px solid #fc5185;
    border-radius:10px;
    float:right;
}

div.homePageListings{
    height:100%;
    width: 33%;
    border: 2px solid #dddddd;
    background-color: #dddddd;
    border-radius:10px;
    float:right;
}



div.title{
    background-color: #dddddd;
    width: 98%;
    height: 10%;
    margin:auto;
    text-align:left;
    border-radius:3px;
}

.logo{
    position:relative;
    max-width: 200px;
    max-height: 50px;
    border-radius: 10px;
    float:right;
}

#formContainer{
    width:100%;
    margin:auto;
  }
#formC{
    width:100%;
  }
  .rows{
    width:100%;
    display:block;
  
  }
  .column{
      width:100%;
      display:inline-block;
      
  }
  .theLabels{
    
    width:48%;
    display:inline-block;
    text-align:right;
  }
  .theInputs{
    
  
    width:48%;
    display:inline-block;
    text-align:left;
  }