<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <title>Handlr</title>
</head>

<body>
    <div class="menuBar">
        <div class="menuBarLogo">
            <img src="{{ url_for('static', filename='nuggets.jpeg')}}" alt="logo placeholder" style="max-width:200px;max-height:52px;">
        </div>
        <ul>
            <li><a href="/home">Handlr</a></li>
            <li><a href="/listings">Listings</a></li>
            <li><a class="active" href="/account">Account</a></li>
        </ul>
        <a class="logoutButton" href="/logout">Log out</a>
        
    </div>
    <div class="PageMain">

    </div>

</body>
</html>