{% extends "menubar.html" %}
{% block content %}

<div style="padding: 15px 0px">
    <div class="homePageListings" style="width:100%;">

        <h1>Change Account Password</h1>
        <div style="width:100%; padding:20px 60px;">
            <form method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="oldPassword" class="form-label">Current Password: </label>
                    <input name="oldPassword" value="{{request.form.oldPassword}}" type="password" class="form-control" id="oldPassword" placeholder="Please enter your current password" required>
                </div>
                <hr>
                <div class="mb-3">
                    <label for="newPassword" class="form-label">New Password: </label>
                    <input name="newPassword" value="{{request.form.newPassword}}" type="password" class="form-control" id="newPassword" placeholder="Please enter the new password" required>
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Confirm Password</label>
                    <input name="confirmPassword" value="{{request.form.confirmPassword}}" type="password" class="form-control" id="confirmPassword" placeholder="Please confirm the new password" required>
                </div>
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
    
            
        </div>
        {% if error %}
            <script type="text/javascript">alert("Invalid username and/or password")</script>
        {% elif success %}
            <script type="text/javascript">alert("Successfully changed password")</script>
        {% endif %}
</div>
{% endblock content %}
