<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/css/styles.css">
    <link rel=”stylesheet” href=”https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css”rel=”nofollow” integrity=”sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I” crossorigin=”anonymous”>
    <title>Handlr</title>
</head>
<body>
    <div class="menuBar">
        <ul>
            <li><a class="active" href="index.html">Handlr</a></li>
            <li><a href="listings.html">Listings</a></li>
            <li><a href="account.html">Account</a></li>
            <li><a href="login.html">Login Page</a></li>
        </ul>
        <div class="menuBarLogo">
            <img class="logo" src="./images/nuggets.jpeg" alt="logo placeholder">
        </div>
    </div>
    <br>  
    <div class="homePageMain">
        <div class="title">
            <h2>Welcome to Handlr. Here is a list of all the popular listings</h2>
        </div>
        
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="homePageListings">
        <div class="title">
            <h2>Here are all of your listings</h2>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>

</body>

</html>