<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <title>Handlr</title>
</head>
<body>
    <div class="menuBar">
        <ul>
            <li><a class="active" href="/home">Handlr</a></li>
            <li><a href="/listings">Listings</a></li>
            <li><a href="/account">Account</a></li>
        </ul>
        <div class="menuBarLogo">
            <img src="{{ url_for('static', filename='nuggets.jpeg')}}" alt="logo placeholder" style="max-width:200px;max-height:42px;">
        </div>
    </div>
    <br>  
    <div class="homePageMain">
        <div class="title">
            <h2>Welcome to Handlr. Here is a list of all the popular listings</h2>
        </div>
        
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="homePageListings">
        <div class="title">
            <h2>Here are all of your listings</h2>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>

</body>

</html>