<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <script src="{{ url_for('static', filename='script.js')}}" type="text/javascript"></script>
    <title>Handlr</title>
</head>

<body>
    <div class="loginPageMain">
        <img src="{{ url_for('static', filename='HandlrLogo.png')}}" class="logo">
        <br>
        <br>
        <h1>Welcome to Handlr</h1>
        <p>Please enter your login details</p>
        <br><br>
        <div id="formContainer">
            <form action="" method="POST">
                
                <div>
                    {{ form.username.label() }}

                    {% if form.username.errors %} 
                        {{ form.username() }}
                        <div>
                        {% for error in form.username.errors %}
                            <span> {{ error }} </span>
                        {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username() }}
                    {% endif %}
                </div>
                <br>
                <div>
                    {{ form.password.label() }}

                    {% if form.password.errors %} 
                        {{ form.password() }}
                        <div>
                        {% for error in form.password.errors %}
                            <span> {{ error }} </span>
                        {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password() }}
                    {% endif %}
                </div>
                <br>
                
                {{form.submit()}}
            </form>
            <br>
            <a href="/register" style="text-decoration: none;">Don't have an account?</a>
            {% if error %}
            <script type="text/javascript">alert("Invalid username and/or password")</script>
            {% endif %}
        </div>
    </div>

</body>
</html>