<!-- TODO: Change forms for here and login into wtf forms so website is more python than HTML-->

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <script src="{{ url_for('static', filename='script.js')}}" type="text/javascript"></script>
    <title>Handlr</title>
</head>

<body>
    <div class="loginPageMain">
        <img src="{{ url_for('static', filename='HandlrLogo.png')}}" class="logo">
        <br>
        <br>
        <h1>Welcome to Handlr</h1>
        <p>Please create an account</p>
        <br><br>
        <div id="formContainer">
            <form id="formC" action="" method="post">
                
                <div class="rows">
                    <div class="column">
                        <label class="theLabels" for="username">Username: </label>
                        <input class="theInputs" type="text" id="username" name="username" value="{{request.form.username }}" required>
                    </div>
                </div>
                <br>
                <div class="rows">
                    <div class="column">
                        <label class="theLabels"  for="password">Password: </label>

                        <input class="theInputs" type="password" id="password" name="password" value="{{request.form.password }}" required>
                    </div>
                </div>
                <br>
                <div class="rows">
                    <div class="column">
                        <label class="theLabels"  for="confirmPassword">Confirm Password: </label>

                        <input class="theInputs" type="password" id="confirmPassword" name="confirmPassword" value="{{request.form.password }}" required>
                    </div>
                </div>
                <br>
                <input type="submit" value="Register">
                <p>
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        <ul class="registerError">
                        {% for message in messages %}
                          <li class="registerError">{{ message }}</li>
                        {% endfor %}
                        </ul>
                      {% endif %}
                    {% endwith %}
                </p>
            </form>
            
            <br>
            
        </div>
    </div>

</body>
</html>