{% extends "menubar.html" %}
{% block content %}

    <h1>{{ listing["title"] }}</h1>
    <img src="{{ listing['imageURL'] }}" alt='Product Image' class='listingImgPreview' style="max-height: 300px; max-width: 300px">
    <br>
    <h3>By {{ listing["account"].capitalize() }}</h3>
    <h4>Price: £{{ listing["price"] }}</h4>
    <form method="POST" action="/purchase/{{listing['title']}}?account={{listing['account']}}">
        {% if isOwner %}
            <input type="submit" value="SOLD" disabled></input>
        {% elif listing["isSold"]%}
            <p>SOLD</p>
        {% else %}
            <input type="submit" value="Purchase"></input>
        {% endif %}
    </form>
    {% if isOwner and listing["isSold"] %}
        <form method="POST" action="/generateLabel/{{listing['title']}}?account={{listing['account']}}">
            
                <input type="submit" value="Generate Postage Label"></input>
        </form>
    {% endif %}
    <hr>
    <div>
        <ul>
            {% for question in questions %}
                <li>{{ question["questionText"] }} {{ question["questionOwner"] }}</li>
                <ul>
                    {% for response in question["Responses"] %}
                        <li> {{response}} </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    </div>

    <form method="POST" action="/postQuestion">
        <label for="question">Question: </label>
        <input type="text" id="question" name="question" value="{{request.form.question }}" required>
        <br>
        <input type="submit" value="Submit"></input>
    </form>

{% endblock content %}