<!DOCTYPE html>
<html lang="en-GB">
<head>
    <link rel="stylesheet" href="/templates/css/testStyles.css">

    <title>
        Epic HTML gamer page
    </title>
    
</head>
<body>

    <a href="#C2">Skip chapter 1</a>
    <h1>Welcome to my epic gamer only site.</h1>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">If you're an epic gamer, click on this</a>
    <p>This is my first paragraph.</p>
    <p style=color:red title="red paragraph">This is my second, red, paragraph.</p>
    <img src="/templates/images/nuggets.jpeg" width=150 height=200 alt="Could not display image 'nuggets.jpeg'" usemap="#nuggetmap">
    <map name="nuggetmap"><area shape="rec" coords="0, 0, 150, 200" href="https://en.wikipedia.org/wiki/Chicken_nugget" target="_blank"></map>
    <hr>
    <hr>
    <p>This is a section of text that has been separated from the rest.</p>
    <!-- <pre> is used to denote preformatted text, thus preserving the formatting from the source code.-->
    <pre>
        I like this line more than below.
        The above line is the absolute truth if the below line is also true
        The above line is a lie.
    </pre>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <h1 id="C2">This is the start of chapter2</h1>
    

</body>

</html>